/BH_DJANGO/Static_File_Storage/census_info_beachhouse.csv
/BH_DJANGO/Static_File_Storage/Flash_Changes.csv
/BH_DJANGO/.gitignore
/BH_DJANGO/.env
/BH_DJANGO/pages/sftp_transfer.py
/BH_DJANGO/db.sqlite3
/BH_DJANGO/BH_DJANGO/settings.py
/BH_DJANGO/pages/file_source.py
/BH_DJANGO/pages/sql_cred.py
