{% extends 'base.html' %}

{% block content %}
{% load static %}
<body class="cl_rsults" style="background-image: url('{% static 'beach_img.jpg'%}');">
<div class="success_mess">
    <strong>
        Congratulations, data compiling was a success! Please click below to start download; download will appear in the bottom left corner.
    </strong>
</div>
<div>
    <form method="post"> {% csrf_token %}
        <ul class="cl_dl_dlink">
            <li>
                <u>Download the current months clinical discharge report data:</u>
                <input class="cl_dl_button" name="cl_dl" type="submit" value="Download">
            </li>
        </ul>
    </form>
</div>
</body>
{% endblock %}