{% extends 'base.html' %}
{% block content %}
{% load static %}
<body class="flash_tools" style="background-image: url('{% static 'beach_img.jpg'%}');">
<div class="fltool_grid">

    <form method="post"> {% csrf_token %}
        <div class="refresh_button" style="grid-area: instr">
            <ul>
                <h3>
                    <u>
                        Instructions for Flash Report
                    </u>
                </h3>
                <li>
                    Fill out the form to the right
                </li>
                <li>
                    <strong>
                        Make sure MRN is correct!!
                    </strong>
                </li>
                <li>
                    Click submit on the google form
                </li>
                <li>
                    Finally click the button below <strong>Only Once!</strong>
                </li>
                <li>
                    Power Bi report will be refreshed and sent to your email
                </li>
            </ul>
            <input name="report_refresh" class="btn btn-info" type="submit" value="Refresh Power BI Report">
        </div>
        <div class="dl_fl_changes" style="grid-area: dlb">
            <form method="post"> {% csrf_token %}
                <strong>
                    <u>
                        Download Census Changes
                    </u>
                </strong>
                <input class="btn btn-info" name="fl_changes" type="submit" value="Download">
            </form>
        </div>
    </form>
    <div class="flash_tools_div" style="grid-area: gform">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeQIcLOVLmW6trL9m6mHRCFGu_4FPHcbM1nqks2_SzwTu2LsA/viewform?embedded=true"
                width="640" height="1100" frameborder="0" marginheight="0" marginwidth="0">Loading…
        </iframe>
    </div>
</div>
</body>
{% endblock %}