{% extends 'base.html' %}
{% block content %}
{% load static %}
<body class="flash_tools" style="background-image: url('{% static 'beach_img.jpg'%}');">
<div class="fltool_grid">

    <form method="post"> {% csrf_token %}
        <div class="refresh_button" style="grid-area: instr">
            <ul>
                <h3>
                    <u>
                        Instructions for Flash Report
                    </u>
                </h3>
                <li>
                    Fill out the form to the right
                </li>
                <li>
                    <strong>
                        Make sure MRN is correct!!
                    </strong>
                </li>
                <li>
                    Click submit on the google form
                </li>
                <li>
                    Finally click the button below <strong>Only Once!</strong>
                </li>
                <li>
                    Power Bi report will be refreshed and sent to your email
                </li>
            </ul>
            <input name="report_refresh" class="btn btn-info" type="submit" value="Refresh Power BI Report">
        </div>
        <div class="dl_fl_changes" style="grid-area: dlb">
            <h3 style="text-align: center">Yesterday's Census Changes</h3>
            <form method="post"> {% csrf_token %}
                <table class="table table-Default table-hover table-bordered table-sm">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <caption class="home_dl">- <input class="btn btn-info" name="fl_changes" type="submit"
                                                          value="Download Full File">
                        </caption>
                        <thead>
                        <tr>
                            <th>Patient</th>
                            <th>Change</th>
                            <th>LOC Change</th>
                            <th>Commit LOS</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- jinja2 Technique -->
                        {% if d %}
                        {% for i in d %}
                        <tr>
                            <td>{{i.Patient}}</td>
                            <td>{{i.Change}}</td>
                            <td>{{i.LOC_Change}}</td>
                            <td>{{i.Commit_LOS}}</td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                        </tbody>
                </table>
            </form>
        </div>
    </form>
    <div class="flash_tools_div" style="grid-area: gform">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeQIcLOVLmW6trL9m6mHRCFGu_4FPHcbM1nqks2_SzwTu2LsA/viewform?embedded=true"
                width="640" height="1100" frameborder="0" marginheight="0" marginwidth="0">Loading…
        </iframe>
    </div>
</div>
</body>
{% endblock %}