<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoginSystem</title>
</head>
{% load static %}
<img src="{% static 'logo.png' %}" alt="logo">
<p></p>
<h1>Welcome to Beach House Analytics!!</h1>
<body>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Login"/>

    </form>
<p>If you have been authorized to use this system and you do not have<br>
    login credentials please contact EHR via the Help Desk (help@beachhousecenter.com)<br>
    with Kipu in the subject line
</p>
</body>
</html>