{% extends 'base.html' %}

{% block content %}
{% if messages %}
{% for message in messages %}
    <div>
        <strong>{{message|safe}}</strong>
    </div>
{% endfor %}
{% else %}
 <h2>Vivitrol Count Analyzer</h2>


<form action="" method="post" enctype="multipart/form-data"> {% csrf_token %}
    <div>
    <p><strong><label for="file">Please choose "jdgvivitrol" csv file</label></strong></p>
 <input type="file" name="file" id = sheet1 accept=".csv"/>
    <label for="sheet1" class="btn btn-secondary">Please choose "jdgvivitrol" csv file</label></div>
    <p></p>
<div>
    <button type="submit">Analyize File</button>

<p>
    <strong>Instructions on downloding file</strong>
    <ul>
    <li>Go to the 2nd page of the Public Downloads in Kipu</li>
    <li>Click the pencil on the Vivitrol report</li>
    <li>Update date range then scroll to the bottom and click run</li>
    <li>Click your initials in the top right and click downloads</li>
    <li>Click download</li>


</ul>


</p>
</div>
</form>
{% endif %}
  {% endblock %} 