img.login_img { float: center; }

p.login_text {color: red;}

body.login_body {
  margin: auto;
  width: 640px;
  padding: 50px;
  font-family: 'Avenir', sans-serif;
  color: #33475b;
      }

div.viv_css {
  margin: auto;
  width: 640px;
  padding: 50px;
  font-family: 'Avenir', sans-serif;
  color: #33475b;
      }

h2.viv_help_css {
margin: auto;
  width: 50%;
  padding: 0px;
      }

div.grid-template {
    padding: 10px;
    background#color: #E6E6E6;
    display: grid;
    grid-gap: 10px;
    grid-row-gap: 30px;
    grid: 'chart chart'
        'Graph Text'
        'bottom bottom';
    margin-left: 5%;
    margin-right: 0%;

  }

  .grid-template > div {

    text-align: Center;
    padding: 10px 5px;
    font-size: 18px;
  }

caption.home_dl {
margin-left: 5%;
}

div.container{background-color:rgba(255, 255, 255, 0.2);
font-weight: bold; border-radius: 50px;}

h2.text-center = { color: #FFFFFF;}

body.home { position: relative;
background-repeat: no-repeat;
background-position: top;
background-size: cover;
}
body.flash_html {background-color: #FFFFFF; position: relative;}

div.chart_2row {box-shadow: 20px 20px 10px grey;
border-radius: 50px; height: 305px;
  width: 600px; border-style: solid;}

div.chart_1row {box-shadow: 20px 20px 10px grey;
border-radius: 50px; height: 500px;
  width: 1260px; border-style: solid;}

div.flash_page {
    padding: 10px;
    border-style: solid;
    display: grid;
    grid-gap: 10px;
    grid-row-gap: 30px;
    grid: 'help logo'
            'help form'
        ;
    margin-left: 15%;
    margin-right: 15%;
    width: 1200px

  }

  .flash_page > div {

    text-align: Center;
    padding: 10px 5px;
    font-size: 18px;
  }

h2.in_header {text-align: center;}

ol.instructions {
 text-align: left; max-width: 450px;
 margin-left: 10%;

}

div.flash_form {
margin-bottom: 5%;
border#style: solid;

}

div.f_logo {
border#style: solid;
max-width: 450px;
margin-left: 5%;
}


img.logo_img {
border#style: solid;
max-width: 450px;
height: 150px;
}

div.clinical_DC_form {
  margin: auto;
  width: 640px;
  padding: 50px;
  font-family: 'Avenir', sans-serif;
  color: #33475b;
  border: 5px solid blue;
      }

p.refresh {
margin-top: 25px;
}

h1.cl_head {
margin-bottom: 40px; color: blue
}

