img.login_img { float: center; }

p.login_text {color: red;}

body.login_body {
  margin: auto;
  width: 640px;
  padding: 50px;
  font-family: 'Avenir', sans-serif;
  color: #33475b;
      }

div.viv_css {
  margin: auto;
  width: 640px;
  padding: 50px;
  font-family: 'Avenir', sans-serif;
  color: #33475b;
      }

h2.viv_help_css {
margin: auto;
  width: 50%;
  padding: 0px;
      }

div.grid-template {
    padding: 10px;
    background#color: #E6E6E6;
    display: grid;
    grid-gap: 10px;
    grid-row-gap: 30px;
    grid: 'chart chart'
        'Graph Text'
        'bottom bottom'
        'rowthree rowthree'
        'chart2 idk';
    margin-left: 5%;
    margin-right: 0%;

  }

  .grid-template > div {

    text-align: Center;
    padding: 10px 5px;
    font-size: 18px;
  }

caption.home_dl {
margin-left: 5%;
}

caption.therapist_caseload {
margin-left: 5%;
color: red;
}

div.container2 {background-color:rgba(255, 255, 255, 0.4);
font-weight: bold; border-radius: 50px; width: 620px;}

div.container {background-color:rgba(255, 255, 255, 0.4);
font-weight: bold; border-radius: 50px;}

h2.text-center = { color: #FFFFFF;}

body.home { position: relative;
background-repeat: no-repeat;
background-position: top;
background-size: cover;
}
body.flash_html {background-color: #FFFFFF; position: relative;}

div.chart_2row {box-shadow: 20px 20px 10px grey;
border-radius: 50px; height: 305px;
  width: 600px; border-style: solid;
  background-color:rgba(255, 255, 255, 0.4);}

div.chart_1row {box-shadow: 20px 20px 10px grey;
border-radius: 50px; height: 500px;
  width: 1260px; border-style: solid;
  background-color:rgba(255, 255, 255, 0.4);}

div.chart_3row {box-shadow: 20px 20px 10px grey;
border-radius: 50px; height: 500px;
  width: 1260px; border-style: solid;
  background-color:rgba(255, 255, 255, 0.4);}

div.flash_page {
    padding: 10px;
    border-style: solid;
    display: grid;
    grid-gap: 10px;
    grid-row-gap: 30px;
    grid: 'help logo'
            'help form'
        ;
    margin-left: 15%;
    margin-right: 15%;
    width: 1200px

  }

  .flash_page > div {

    text-align: Center;
    padding: 10px 5px;
    font-size: 18px;
  }

h2.in_header {text-align: center;}

ol.instructions {
 text-align: left; max-width: 450px;
 margin-left: 10%;

}

div.flash_form {
margin-bottom: 5%;
border#style: solid;

}

div.f_logo {
border#style: solid;
max-width: 450px;
margin-left: 5%;
}


img.logo_img {
border#style: solid;
max-width: 450px;
height: 150px;
}

div.clinical_DC_form {
  margin: auto;
  width: 640px;
  padding: 50px;
  font-family: 'Avenir', sans-serif;
  color: #33475b;
  border: 5px solid blue;
      }

input.cl_dl_button {
margin-left: 5px;
}

div.success_mess {
border: 5px solid green;
width: 1050px;
height: 75px;
border-radius: 50px;
text-align: Center;
padding: 20px 0;
background-color:rgba(0, 128, 0, 0.2)
}

ul.cl_dl_dlink {
margin-top: 5%;
}

body.cl_rsults {
background-repeat: no-repeat;
background-position: top;
background-size: cover;
}

p.refresh {
margin-top: 25px;
}

h1.cl_head {
margin-bottom: 40px; color: blue
}



body.flash_tools {
position: relative;
background-repeat: no-repeat;
background-position: top;
background-size: cover;
}

div.refresh_button {
margin-top: 50px;
margin-left: 150px;

}

div.flash_tools_div {
margin-left: 0px;
}

div.fltool_grid {
    padding: 10px;
    display: grid;
    grid-gap: 10px;
    grid-row-gap: 30px;
    grid: 'instr gform'
            'dlb gform'
        ;
    margin-left: auto;
    margin-right: auto;
    width: 1500px;
    background-color:rgba(255, 255, 255, 0.2);
    border-radius: 50px;

  }

  .grid-template > div {

    text-align: Center;
    padding: 10px 5px;
    font-size: 18px;
  }

div.dl_fl_changes {
margin-left: 20%;
margin-top: 10%;
width: 500px;
font-weight: bold;
}