{% extends 'base.html' %}

{% block content %}

{% load static %}
<body class="home" style="background-image: url('{% static 'campus.jpg'%}');">
<section>
    <div class="title_landing">
    <h1 style="text-align: center; color: white;">Welcome to Beach House Analytics</h1>
    </div>
</section>
<section>
<div style="margin-top: 50px; margin-left: 175px;" class="grid-template">
    <div id="filter_buttons" class="filter_buttons" style="grid-area: filter">
        <p><a href="{% url 'recent_admissions' %}" class="btn btn-primary">Recent Admits</a></p>
        <p><a href="{% url 'loc' %}" class="btn btn-primary">Level of Care</a></p>
        <p><a href="{% url 'age' %}" class="btn btn-primary">Age</a></p>
        <p><a href="{% url 'gender' %}" class="btn btn-primary">Gender</a></p>
        <p><a href="{% url 'doc' %}" class="btn btn-primary">Drug of Choice</a></p>
        <p><a href="{% url 'caseload' %}" class="btn btn-primary">Caseload</a></p>
    </div>
    <div id="context" class="census" style="grid-area: context;">
        <h2 style="color: white; margin-top: 45px;">Our Current Census this Morning</h2>
        <div style="font-size: 100px; color: white;">{{census_total|safe}}</div>
    </div>
</div>
</section>
<!---
<section><a href="{% url 'home' %}" class="btn btn-primary">Take a tour?</a></section> -->
</body>
{% endblock %}