{% extends 'base.html' %}
{% block content %}
{% load static %}
<html lang="en">
<body class="home" style="background-image: url('{% static 'beach_img.jpg'%}');">
<div>
    <div class="grid-template">
        <div class="filter_buttons" style="grid-area: filter">
           <p><a href="{% url 'recent_admissions' %}" class="btn btn-primary">Recent Admits</a></p>
        <p><a href="{% url 'loc' %}" class="btn btn-primary">Level of Care</a></p>
        <p><a href="{% url 'age' %}" class="btn btn-primary">Age</a></p>
        <p><a href="{% url 'gender' %}" class="btn btn-primary">Gender</a></p>
       <p> <a href="{% url 'doc' %}" class="btn btn-primary">Drug of Choice</a></p>
       <p> <a href="{% url 'caseload' %}" class="btn btn-primary">Caseload</a></p>
        </div>
        <div id="context" class="chart_2row" style="grid-area: context"> {{chart_LOC|safe}}</div>
    </div>
</div>
</body>
</html>

{% endblock %}